body {
  background-color:white;
  margin: 0;
}

#container {
    width: 1024px;
    height: 500px;
    display: grid;
    background-color: teal; 
    margin: auto;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 100px;
  height: 500px; 
  border: 15px;

}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  padding-top: 40px;
  background-color: black;
  color: white;
  width: 1024px;
  height: 774px;

  
}

h2 {
  font-size: 50px;
  text-align:center;
  margin-top: 40px;
  

}

p {
  font-size: 20px;
  text-align:center;
  
}

.rectangle {
  height: 30px;
  width: 200px;
  background-color: blue;
}
.rectangle2 {
  height: 30px;
  width: 200px;
  background-color: orange;
}
.rectangle3 {
  height: 30px;
  width: 200px;
  background-color: lightblue;
}



@media (max-width: 900px) {

  #container {
    width: 500px;
    height: 500px;
    display: grid; 
    margin: auto; 
  }


  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
  }

   #bottom {
     background-color: white;
     color: black;
     display: flex;
     display: grid;
     text-align: center;
     width: 500px;
    height: 1500px;
     flex-direction: column;
     justify-content: space-evenly;
      align-items: center;

    
   }
   .rectangle {
      height: 20px;
      width: 200px;
      background-color: blue;
     align-items: center;
    }
    .rectangle2 {
      height: 20px;
      width: 200px;
      background-color: orange;
      align-items: center;
    }
    .rectangle3 {
      height: 20px;
      width: 200px;
      background-color: lightblue;
      align-items: center;
    }  
   }
